//
// @file
// Helpful mixins.
//

// Display flex
// @see https://github.com/drublic/Sass-Mixins/blob/master/partials/_flexbox.scss#L25
@mixin display-flex {
  display: -webkit-box;  // Chrome 20-, iOS 6-, Safari 3.1  -6
  display: -moz-box;     // FF 19-
  display: -webkit-flex; // Chrome 21 - 28
  display: -ms-flexbox;  // IE 10
  display: flex;         // FF 20+, Chrome 29+, Opera 12.1, 17+
}

// Add flex values to an element
// @see https://github.com/drublic/Sass-Mixins/blob/master/partials/_flexbox.scss#L52
@mixin flex-values($values...) {
  -webkit-box-flex: $values; // Chrome 20-, iOS 6-, Safari 3.1 - 6
  -moz-box-flex: $values; // FF 19-
  -webkit-flex: $values; // Chrome 21 - 28
  -ms-flex: $values; // IE 10
  flex: $values; // FF 20+, Chrome 29+, Opera 12.1, 17+
}

%accessible-focus {
  background: black;
  outline: medium solid #4dc9e3!important;
}

%divider {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: .5em;
  padding-bottom: 1em;
}
