//
// @file
// Contains styles to normalise jQuery.ui.accordion.
//

.view-content {
  &.ui-accordion {
    .ui-state-default,
    .ui-state-active,
    .ui-accordion-content {
      border-radius: 0;
      background: none;
      border: 0;
    }
    .ui-accordion-content {
      padding: 0;
    }
    .ui-accordion-header {
      .ui-icon {
        left: 0;
      }

      h3 {
        color: map-get($colors, 'links');
        padding-left: 1em;
        text-decoration: underline;
        &:hover {
          color: map-get($colors, 'links-hover');
        }
        &:focus,
        &:active {
          @extend %accessible-focus;
        }
      }
    }
  }
}
