@import 'variables';
@import 'base';
@import 'mixins';

.block-views + .block-facetapi {
  margin-top: 30px;

  h2 {
  }
}

.facetapi-facetapi-links {
  list-style-type: none;
  padding: 10px 0 0;

  li {
    margin-bottom: 11px;

    a {
      line-height: .8;
      &:link,
      &:visited {
        text-decoration: none;
        color: map_get($colors, 'links');
      }
      &:hover {
        color: map_get($colors, 'links-hover')
      }
    }
  }
}

.region-sidebar .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}