@import '../variables';
@import '../base';
@import '../mixins';

@font-face {
  font-family: 'TradeGothicLT';
  src: url('../fonts/TradeGothicLT.eot?1416195844');
  src: url('../fonts/TradeGothicLT.eot?&1416195844#iefix') format("embedded-opentype"), url('../fonts/TradeGothicLT.woff?1416195844') format("woff"), url('../fonts/TradeGothicLT.ttf?1416195844') format("truetype"), url('../fonts/TradeGothicLT.svg?1416195844#TradeGothicLT') format("svg");
}
@font-face {
  font-family: 'TradeGothicLT';
  src: url('../fonts/TradeGothicLT-Bold.eot?1416195844');
  src: url('../fonts/TradeGothicLT-Bold.eot?&1416195844#iefix') format("embedded-opentype"), url('../fonts/TradeGothicLT-Bold.woff?1416195844') format("woff"), url('../fonts/TradeGothicLT-Bold.ttf?1416195844') format("truetype"), url('../fonts/TradeGothicLT-Bold.svg?1416195844#TradeGothicLT-Bold') format("svg");
  font-weight: bold;
}
@font-face {
  font-family: 'TradeGothicLT';
  src: url('../fonts/TradeGothicLT-Bold.eot?1416195844');
  src: url('../fonts/TradeGothicLT-Bold.eot?&1416195844#iefix') format("embedded-opentype"), url('../fonts/TradeGothicLT-Bold.woff?1416195844') format("woff"), url('../fonts/TradeGothicLT-Bold.ttf?1416195844') format("truetype"), url('../fonts/TradeGothicLT-Bold.svg?1416195844#TradeGothicLT-Bold') format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'TradeGothicLT';
  src: url('../fonts/TradeGothicLT-Oblique.eot?1416195844');
  src: url('../fonts/TradeGothicLT-Oblique.eot?&1416195844#iefix') format("embedded-opentype"), url('../fonts/TradeGothicLT-Oblique.woff?1416195844') format("woff"), url('../fonts/TradeGothicLT-Oblique.ttf?1416195844') format("truetype"), url('../fonts/TradeGothicLT-Oblique.svg?1416195844#TradeGothicLT-Oblique') format("svg");
  font-style: italic;
}

h1, h2, .listing__title, .node-teaser h2, .search-results h3.title, h3, h4, h5, h6 {
  font-family: $tradegothic;
  color: map_get($colors, primary1);

  em {
    font-family: inherit;
    font-style: italic;
    color: lighten(map_get($colors, primary1), 10%);
  }
}
h1 {
  font-size: $h1-font-size;
  line-height: $line-height-ratio;
  margin: -4px 0 $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
  line-height: $line-height-ratio;
  margin: 1px 0 $h2-font-size;
  color: map-get($colors, 'primary2');

  em {
    color: lighten(map_get($colors, primary2), 20%);
  }
}
h3 {
  font-size: $h3-font-size;
  line-height: $line-height-ratio;
  margin: -4px 0 $h3-font-size;
  color: map_get($colors, 'black');

  em {
    color: lighten(map_get($colors, 'black'), 50%);
  }
}
h4 {
  font-size: $h4-font-size;
  line-height: $line-height-ratio;
  margin: -4px 0 $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
  line-height: $line-height-ratio;
  margin: 0 0 $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
  line-height: $line-height-ratio;
  margin: 0 0 $h6-font-size;
}

h1, h2, h3, h4, h5 {
  a, em {
    font-family: $tradegothic;
  }
}

h1.page__title {
  margin-bottom: 15px;
}

.page-node {
  .node-media-release,
  .node-news-article,
  .node-publication {
    .date-display-single {
      font-family: $tradegothic;
      font-size: $h3-font-size;
      font-weight: bold;
      line-height: 2.9333rem;
      margin: -4px 0 8px;
    }
  }
  .node-news-article {
    .date-display-single {
      margin-bottom: .58667rem;
    }
  }
}
.section-standards {
  h1 {
    color: map-get($colors, 'secondary2');
  }
}

.listing__title,
.node-teaser h2,
.search-results h3.title,
.mission__statement {
  font-size: 25px;
  font-size: 1.667rem;
  line-height: 28px;
  line-height: 1.87rem;
  margin: 1px 0 16px
}
