body.front {
  .panel-3col-33 {
    .panel-panel {
      @media (min-width: $small) and (max-width: $medium) {
        width: 100%;

        .bean-image-and-text.landing_page {
          max-width: none;
        }
      }
    }
    .panel-col .inside {
      // adjust front page so that column internal widths are equal.
      margin-right: 0px;
    }

  }

}
