@import 'variables';
@import 'base';
@import 'mixins';

// Standards menu block
#block-menu-menu-standards ul {
  &.menu .menu__item {
    background-color: map_get($colors, 'lightest-grey');
    border-top: 1px solid map_get($colors, 'border-light');
  }

  & > li {
    &:first-child {
      border-top: 0;
    }

  }
}